/**
 * @file
 * Stylesheet for Automation module debugging.
 */

.automation-debug-log {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 1.5em 0;
}

.automation-debug-open-all {
  position: relative;
  float: right; /* LTR */
}
[dir="rtl"] .automation-debug-open-all {
  float: left;
}

.automation-debug-log ul {
  padding-left: 2em; /* LTR */
}
[dir="rtl"] .automation-debug-log ul {
  padding-left: inherit;
  padding-right: 2em;
}

.automation-debug-log .automation-debug-warning {
  color: #df0101;
}

.automation-debug-log .automation-debug-error {
  font-weight: bold;
  color: #df0101;
}
